html,
body {
  width: 100%;
  overflow-x: hidden;
}

#scroller {
  width: 100%;
  overflow-x: hidden;
}

.scroller-track {
  flex-shrink: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
* {
  overflow-x: hidden;
}
